<!doctype html> <html lang= 'en' >

<head>
    <link rel = 'stylesheet' type= 'text/css' href= "../static/main.css">
    <meta charset="UTF-8">
</head>

<html>

    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1 > {{ message }} </h1>
        </div>


        <!---Containerize main page for styling--->
        <div class = "page">
            <!---Containerize paragraph and form for styling--->
            <div class = "container">
                <div class = "intro">
                    <b>
                        <p class = "Note"><b>Prédiction à partir d'une image</b></p>
                    </b>
                </div>
                <br>



                <output id='image'>
                    <img src= ''>
                </output>

                <!---Set placeholder for prediction output--->
                <div class ="pred">
                    <p class = "result "><b>Prédiction : {{ prediction_text }}</b></p>
                </div>
            </div>
        </div>
    </body>

    <script>
        document.getElementById('image').src = 'data:image/gif;base64,' + "{{my_img}}";
    </script>

</html>